@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* 자주쓰는 색을 변수로 --변수명 */
:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

/* 각 태그들의 기본 마진/패딩을 초기값 0으로 하고 박스모델 기준을 보더-박스로 한다. */
* {
  box-sizing: border-box;
  /* 모든 사이즈를 보더 사이즈에 맞춰라. */
  padding: 0;
  margin: 0;
  /* 초기화시킨거다.padding: 0; margin: 0; */
}

/* *은 모든 곳에  */

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6;
  /*line-height 글높이 */
}

ul {
  list-style-type: none;
  /* 앞에 점들 다 없애줌 */
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

code,
pre {
  background: #333;
  color: #fff;
  padding: 10px;
}

.hidden {
  visibility: hidden;
  height: 0;
}

/* nav바 메뉴 */
/* 네브바 메뉴 */
.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}

.navbar ul {
  display: flex;
  /* flex적용안하면 세로로 정렬된다. */
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

.navbar .flex {
  justify-content: space-between;
  /* cafe25와 홈/특징/문서 간 거리준다. */
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
  /* 갖다대면 밑에 아주 작은 사각형나타난다. */
}

/* 쇼케이스섹션 */
/* Showcase */
.showcase {
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}

.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
  /* 간격준다. */
}

.showcase .grid {
  overflow: visible;
  grid-template-columns: 55% auto;
  gap: 30px;
  /* gap은 더 쉬워진 호스팅~과 무료 서비스 신청 사이 거리 */
}

/* grid의 비율 조정. 1:1에서 55% */

.showcase-text {
  animation: slideInFromLeft 1s ease-in;
}

.showcase-form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  justify-self: flex-end;
  animation: slideInFromRight 1s ease-in;
}

.showcase-form .form-control {
  margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.showcase-form input:focus {
  outline: none;
}

.showcase::before,
.showcase::after {
  content: '';
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
}

/* skew 사용해서 파란색 대각선모양 생겼다. */
/* 무료신청서비스 위치가 조금 내려가 있는데, 그 이유는
position:relative;로 top이 지정되어있기 때문이다. */
/*  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
  skewrk 적용되지 않는 브라운저를 위해
  밑에 3가지 버전 만들어놓은 것. */


/* Stats섹션 */
.stats {
  padding-top: 100px;
  /* 조금 내렸다. */
  animation: slideInFromBottom 1s ease-in;
}

.stats-heading {
  max-width: 500px;
  /* 웹서버 장비와~운영할 수 있습니다 너무 커지면 읽기 힘들니까 
  최대 길이 정해줌 */
  margin: auto;
}

.stats .grid h3 {
  font-size: 35px;
}

.stats .grid p {
  font-size: 20px;
  font-weight: bold;
}

/* Cli */
.cli .grid {
  grid-template-columns: repeat(3, 1fr);
  /* 가로3등분 세로2등분 */
  grid-template-rows: repeat(2, 1fr);
}

.cli .grid>*:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  /* 6개 중 왼쪽기준4개 */
}

/* Cloud 섹션 */
.cloud .grid {
  grid-template-columns: 4fr 3fr;
  /* 4:3 */
}

/* Languages */

.languages .flex {
  flex-wrap: wrap;
}

.languages .card {
  text-align: center;
  margin: 18px 10px 40px;
  transition: transform 0.2s ease-in;
}

.languages .card h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.languages .card:hover {
  transform: translateY(-15px);
}

/* 특징 페이지 */
.features-head img,
.docs-head img {
  width: 200px;
  justify-self: flex-end;
}

.features-sub-head img {
  width: 300px;
  justify-self: flex-end;
}

.features-main .card>i {
  margin-right: 20px;
}

.features-main .grid {
  padding: 30px;
}

.features-main .grid>*:first-child {
  grid-column: 1 / span 3;
}

.features-main .grid>*:nth-child(2) {
  grid-column: 1 / span 2;
}





/* ================================================= */
/* 특징 페이지 /페이지 넘어감 */
/* ================================================= */

.features-head img,
.docs-head img {
  width: 200px;
  justify-self: flex-end;
}

.features-sub-head img {
  width: 300px;
  justify-self: flex-end;
}

.features-main .card>i {
  margin-right: 20px;
}

.features-main .grid {
  padding: 30px;
}

.features-main .grid>*:first-child {
  grid-column: 1 / span 3;
}

.features-main .grid>*:nth-child(2) {
  grid-column: 1 / span 2;
}

/* 첫 번째 카드 3칸 두 번째 카드 2칸 */

/* ==================================== */
/* 문서 페이지 */
/* ==================================== */

.docs-main h3 {
  margin: 20px 0;
}

.docs-main .grid {
  grid-template-columns: 1fr 2fr;
  /* 1:2 비율 설치방법 자동설치방법 비율 */
  align-items: flex-start;
}

.docs-main nav li {
  font-size: 17px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px #ccc solid;
}

.docs-main a:hover {
  font-weight: bold;
}


/* Footer 공통부분 로고들이 서로 간격 생김*/
.footer .social a {
  margin: 0 10px;
}

.fa-github:hover {
  color: #000000;
}

.fa-facebook:hover {
  color: #1773ea;
}

.fa-instagram:hover {
  color: #b32e87;
}

.fa-twitter:hover {
  color: #1c9cea;
}

/* 애니메이션 */
/* 왼쪽에서 오른쪽으로 */
@keyframes slideInFromLeft {
  /* 더 쉬워진 호스팅 */
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

/* 오른쪽에서 왼쪽으로 */
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

/* 위에서 아래로 */
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

/* 아래에서 위로 */
@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateX(0);
  }
}